@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
}

.content {
  color: light-dark(white, black);
}

p {
  color: light-dark(black, white);
}

.content-border {
  border-color: light-dark(#f1f1f1, #373737);
}
